.container{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

img.logo{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px rgba(black, .7);
}
span.slogan{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(#333, .7);
  margin-bottom: 35px;
}
h2.history{
  display: block;
  font-size: 14px;
  color: rgba(rgb(21, 21, 21), .7);
  margin-bottom: 35px;
}
h4.school{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(rgb(21, 21, 21), .7);
    margin-bottom: -10px;
}